<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pharmacy orders</title>
</head>

<body>
    <h1>DB orders</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Date</th>
                <th>Department</th>
                <th>Order number</th>
                <th>FO</th>
                <th>CNP</th>
                <th>Hospitalization</th>
                <th>INN</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="order : ${orders}">
                <td th:text="${order.id}"></td>
                <td th:text="${order.orderDate}"></td>
                <td th:text="${order.departmentAlias.department.shortName}"></td>
                <td th:text="${order.orderNumber}"></td>
                <td th:text="${order.fo}"></td>
                <td th:text="${order.cnp}"></td>
                <td th:text="${order.hospitalizationType}"></td>
                <td th:text="${order.cim.atc.inn}"></td>
                <td th:text="${order.quantity}"></td>
            </tr>
        </tbody>
    </table>

    <h1>New pharmacy orders</h1>
    <h2>Import data</h2>
    <form action="#" th:action="@{/orders}" method="post">
        <label for="filePath">File path:</label>
        <input type="text" id="filePath" name="filePath"><br>
        <label for="delim">Delimiter:</label>
        <input type="text" id="delim" value="\t" name="delim"><br>
        <label for="dateFormat">Date format:</label>
        <input type="text" id="dateFormat" value="dd.MM.yyyy" name="dateFormat"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>

</html>
